language: node_js
node_js:
  - '10'
deploy:
  provider: npm
  email: $EMAIL_ADDRESS
  api_key: $NPM_AUTH_TOKEN
  on:
    tags: true
    branch: master
after_success:
  - ./travis-notification.sh success $DISCORD_WEBHOOK_URL
after_failure:
  - ./travis-notification.sh failure $DISCORD_WEBHOOK_URL
